<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BravoVa">

    <test name="ShoppingCart">
        <classes>
<!--            <class name="login.LoginTest"/>-->
            <class name="shopping.ShoppingCartTest"/>
        </classes>
    </test>
</suite>